/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

#SearchResultsTable table { 
  width: 100%; 
  border-collapse: collapse; 
}

#SearchResultsTable th { 
 
  color: #0099FF; 
  font-weight: bold; 
}
#SearchResultsTable td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}



@media only screen and (max-width: 768px) {
	#SearchResultsTable td:nth-child(3), 
	#SearchResultsTable th:nth-child(3) {display: none;}
	
}

@media only screen and (max-width: 450px) {
	#SearchResultsTable td:nth-child(5),
	#SearchResultsTable th:nth-child(4){display: none;}
}
